---
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Stage from "../components/Stage.astro";
import Main from "../layouts/Main.astro";
import Lineup from "../components/Lineup.astro";
import Buyticket from "../components/Buyticket.astro";

const data = await fetch("https://zdmoxayivfdeyvmosdlh.supabase.co/rest/v1/kune_lineup", {
  method: "GET",
  headers: { apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkbW94YXlpdmZkZXl2bW9zZGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NzMwNDEsImV4cCI6MTk5NDU0OTA0MX0.AEn38sQFVJLclEVL5V1IgByV_qt5qvKs0r9GFE8dJ7Y" },
}).then((res) => res.json());

//console.log(data);
/*
{
    id: 88,
    created_at: '2023-03-17T12:22:38.08356+00:00',
    time: '22:00:00',
    name: 'bobo live',
    day: '2022-07-23',
    scene: 'amphi stage',
    number: '3'
  }

*/
function sortActs(a, b) {
  return a.number - b.number;
}
data.sort(sortActs);

const saturday = data.filter((act) => act.day === "2022-07-23");
const saturdaySpace = saturday.filter((act) => act.scene === "space stage");
const saturdayVessel = saturday.filter((act) => act.scene === "vessel stage");
const saturdayAstral = saturday.filter((act) => act.scene === "astral stage");
const saturdayBeach = saturday.filter((act) => act.scene === "beach stage");
const saturdayAmphi = saturday.filter((act) => act.scene === "amphi stage");

console.log(saturdaySpace);
---

<Main>
  <Hero slot="header-slot">
    <img src="/lineupforside.webp" alt="lineup picture" />
    <h2>LINEUP</h2>
  </Hero>
  <article>
    <Buyticket />
    <div class="grid_1-1-1-1">
      <Button href="/lineup" text="WEDNESDAY" />
      <Button href="/thursday" text="THURSDAY" />
      <Button href="/friday" text="FRIDAY" />
      <Button href="/saturday" text="SATURDAY" />
    </div>
    <div class="headh3">
      <h3>SATURDAY - JULY 23</h3>
    </div>
    <section class="grid_1-1-1">
      <Stage name="Space Stage" host="VJ:AURAL EYE" acts={saturdaySpace} />
      <Stage name="Vessel Stage" host="VJ:AB/DX" acts={saturdayVessel} />
      <Stage name="Astral Stage" host="VJ:SPHERICAL ABERRATION" acts={saturdayAstral} />
      <Stage name="Beach Stage" acts={saturdayBeach} />
      <Stage name="Amphi Stage" acts={saturdayAmphi} />
    </section>
    <Lineup />
    <section class="map">
      <h3>GET TO KNOW KUNE FESTIVAL</h3>
      <img src="/kort.svg" alt="map over festival" />
    </section>
    <Footer />
  </article>
</Main>
<style>
  article {
    padding: 20px;
    background: rgb(197, 152, 222);
    background: linear-gradient(180deg, rgba(197, 152, 222, 1) 0%, rgba(159, 217, 102, 1) 100%);
  }
  .headh3 {
    display: grid;
  }
  .headh3 h3 {
    justify-self: center;
    align-self: center;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px;
  }

  .grid_1-1-1-1 {
    display: flex;
    justify-content: space-evenly;
  }
  .map {
    display: grid;
    margin-top: 150px;
  }
  .map img {
    justify-self: center;
    align-self: center;
  }
  .map h3 {
    justify-self: center;
    align-self: center;
  }
  .map img {
    width: 40%;
  }
  @media (max-width: 600px) {
    .map img {
      width: 80%;
    }
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
</style>
